#### ■ 산술 연산자(*, /, +, -)
>ex)<br>
select ename, sal, sal+3000<br>
    from emp;

* SQL의 코딩/실행 순서
    - 코딩순서 : select → from → where → order by
    - 실행순서 : from → where → select → order by

>ex)<br>
select ename 이름, sal*12 연봉<br>
    from emp<Br>
    where 연봉 = 36000;<Br>

※ 위 SQL이 수행되지 않는 이유!<br>
: where가 실행되고 select가 실행되므로 연봉이라는 별칭이 정해지기 전 where에서 찾으면 실행이 되지 않는다

#### ■ 비교 연산자 1
* 기본비교 연산자 : >, <, >=, <=, =
* NOT비교 연산자 : !=, <>, ^= → 같지 않다는 뜻

#### ■ 비교 연산자 2(BETWEEN AND)
* where절에 범위를 지정하여 비교할때 사용

>ex)
select ename, sal<br>
    from emp<br>
    where sal between 1000 and 3000;<br>
또는<br>
select ename, sal<br>
    from emp<br>
    where sal >=1000 and sal <=3000;<br>

#### ■ 비교 연산자 3(LIKE)
>ex)<br>
select ename<br>
    from emp<br>
    where ename like 'S%';<br>

* 위 예제에서 like는 ~일 것 같은 이라는 뜻처럼 이름의 첫번째 철자가 S로 시작하는 단어 라는 뜻이다
* %는 와일드 카드로 이자리에 뭐가 와도 관계없으며(like 사용 전재하에) 그 철자의 갯수가 몇개가 되도 관계없다
* like와 같이 쓸 수 있는 키워드
    - % : 와일드카드 → 이자리에 무엇이 와도 관계없고 자릿수도 관계없음
    - _(언더바) : 이자리에 뭐가와도 관계 없으나 자릿수는 1개<br>





* like 연산자를 사용할 때 특정단어를 포함하고 있는 데이터를 검색하려면 %단어% 라고 하면 된다



#### ■ 비교 연산자 4(IS NULL)
* null 값을 조회할때 사용하는 연산자가 is null
* null 값은 데이터가 없는 상태 또는 알 수 없는 값(unknown)
* null은 알 수 없는 값이므로 비교 연산자인 = 로는 조회가 안되고 is null을 사용해야 조회가 가능하다


#### ■ 비교 연산자 5(IN)
* where절의 검색조건에서 여러개의 행을 비교할 때 in을 사용
>ex) 사원번호가 7788, 7902 인 사원들의 사원번호와 이름을 출력하시오<br>
select empno, ename<br>
    from emp<br>
    where empno in(7788,7902);<br>


#### ■ 논리 연산자(AND, OR, NOT)
* 오라클 연산자의 종류 3가지
    1. 산술 연산자 : *, /, +, -
    2. 비교 연산자 : >, <, >=, <=, =, !=, <>, ^=
    3. 기타 비교 연산자 : between...and, like, is null, in
    4. 논리 연산자 : and, or, not

>ex) 직업이 SALESMAN 이고, 월급이 1200 이상인 사원들의 이름과 월급과 직업을 출력하시오<br>
select ename, sal, job<br>
    from emp<br>
    where job = 'SALESMAN' and sal >= 1200;<br>

→ 위 문제에 대해서<br>
    - True and True 면 Ture 이므로 결과가 출력<br>
    - False and True 면 False 이므로 결과가 미출력<br>
    - 단 False or True 면 True 이므로 결과가 출력<br>